p {
	text-align: left;
	 font-style: italic;
}

.video{
	width:100%; 
	height:100%;
}
h1{
	color:hotpink;
 	text-align: center;
	font-family: 'Bubblegum Sans';font-size: 45px;
}

.img-down{
	margin-top: 10px;
}

body{
	background-color:#FFCFC9;
}
.row{
	padding:1em;
}